*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 100%;
    max-width: 375px;
    min-width: 375px;
    /* background: linear-gradient(135deg,rgb(175,0, 230), rgb(0, 230, 230)); */
    background: linear-gradient(135deg,rgb(200, 60, 255), rgb(40, 255, 255));
    color: #fff;
    margin: 50px auto 50px;
    border-radius:20px;
    padding: 35px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    width: 100px;
    height: 60px;
    padding-left: 25px;
    border-radius:30px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}
.search button{
    
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    cursor: pointer;
}
.search button img{
    width: 30px;
}
.weather-icon{
    width: 200px;
    margin-top: 0px;
}
.weather h1{
    font-size: 60px;
    font-weight: 500;
    margin-top: -10px;

}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -5px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 30px;

}
.line1{
    padding: 5px 0;
    font-size: 20px;
    font-weight: 400;
}
.line2{
    font-size: 20px;
    min-width: 108.96px;
}
